@import "./generals.scss";
@import "./variables.scss";
@import "./animations.scss";
@import "./mixins.scss";

//Navigation Section
.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-list {
  display: none;
  @include for-tablet-portrait-up {
    display: flex;
    gap: 3.2rem;
    font-size: 1.2rem;
    align-items: center;
  }

  .nav-link {
    color: $white;
    letter-spacing: 1px;
  }
}

.hamburger {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: rgba(51, 69, 156, 30%);
  right: 0;
  border-radius: 100%;
  padding: 18px 10px;
  z-index: 5;
  transition: all 3s ease-in-out;
  @include for-tablet-portrait-up {
    display: none;
  }

  span {
    position: absolute;
    height: 2px;
    // margin: 4px 0;
    width: 20px;
    background-color: $white;
    display: block;
    border-radius: 30px;
    transition: all 3s ease-in-out;
  }

  .top {
    transform: translateY(-300%);
    z-index: 1;
  }
  .bottom {
    transform: translateY(300%);
    z-index: 2;
  }

  .middle {
    transform-origin: right;
    transform: scaleX(50%);
    z-index: 3;
    // transition: display 4s ease-in-out;
  }
}

.mobile-nav-list {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  text-align: center;
  height: 200px;
  width: 100vw;
  background-color: #1b265c;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  top: 0;
  padding: 50% 0;
  font-weight: 300;
  letter-spacing: 1px;

  @include for-tablet-portrait-up {
    display: none;
  }
  .mobile-nav-link {
    color: $white;
    font-size: 1.4rem;
  }
}

.invisible {
  animation: vis2invis 0.5s forwards ease-in-out;
}

.visible {
  animation: invis2vis 0.5s forwards ease-in-out;
}

//Hero Section

.hero-section {
  padding-top: 2.4rem;

  .hero-container {
    width: 80%;

    .hero-heading {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 10px;
      line-height: 115%;
      letter-spacing: -0.2px;

      @include for-tablet-portrait-up {
        font-size: 3rem;
        margin-bottom: 15px;
      }
    }

    .hero-paragraph {
      font-size: 1rem;
      font-weight: 300;
      line-height: 150%;
      margin-bottom: 1rem;

      @include for-tablet-portrait-up {
        font-size: 1.6rem;
        margin-bottom: 15px;
      }
    }

    .learn-more {
      color: $next-pink;
      font-size: 0.8rem;
      letter-spacing: 1.5px;
      font-weight: 500;

      @include for-tablet-portrait-up {
        font-size: 1.4rem;
      }
    }
  }
}

//About Section

.about-section {
  background-color: $white;
  color: $primary-color;

  .img-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;

    div {
      width: 100%;
    }

    .img1,
    .img2,
    .img3 {
      background-size: cover;
    }

    .img1 {
      height: 12rem;

      background-image: url(../../img/img1.jpg);
      grid-column: 1/3;
    }

    .img2 {
      background-image: url(../../img/img2.jpg);
    }

    .img3 {
      background-image: url(../../img/img4.jpg);
    }
  }
}

//Join the Family
.join-the-family {
  background-color: $white;
  color: $primary-color;

  .join-list {
    list-style: circle;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .join-list-item {
      font-size: 1rem;

      @include for-tablet-portrait-up {
        font-size: 1.4rem;
      }
    }
  }
}

.footer {
  background-color: $secondary-color;
  color: $primary-color;
  padding: 2.4rem 4.8rem;

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
    font-size: 6px;

    .logo {
      font-size: 2.4rem;
    }
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-flex-left {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  .social-media-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.active {
  .middle {
    animation: menu-animation-middle forwards 1s ease-in-out;
  }

  .top {
    animation: menu-animation-top forwards 1s ease-in-out;
  }

  .bottom {
    animation: menu-animation-bottom forwards 1s ease-in-out;
  }
}

.revert {
  .middle {
    animation: reverse-middle forwards 1s ease-in-out;
  }

  .top {
    animation: reverse-top forwards 1s ease-in-out;
  }

  .bottom {
    animation: reverse-bottom forwards 1s ease-in-out;
  }
}

// .fixedcontainer {
//   width: 100%;
//   background-color: $primary-color;
// }

// .sticky {
//   position: fixed;
// }
